# Created by .ignore support plugin (hsz.mobi)
.idea
src/github.com/
src/gopkg.in/
#src/uploadfilesys/conf/app.conf
src/uploadfilesys/static/upload/
src/uploadfilesys/static/font/
src/uploadfilesys/static/images/
src/uploadfilesys/static/javascripts/
src/uploadfilesys/static/stylesheets/
#src/uploadfilesys/models/work.go
bin/
pkg/
将删除 bin/
将删除 pkg/
将删除 src/uploadfilesys/models/
将删除 src/uploadfilesys/static/js/
将删除 src/uploadfilesys/static/font/
将删除 src/uploadfilesys/static/images/
将删除 src/uploadfilesys/static/javascripts/
将删除 src/uploadfilesys/static/stylesheets/
